<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe Game</title>

    <style>
        .button{
            color: red;
            width: 125px;
            height: 50px;
        }
        .button{
<!--            width: 125px;-->
<!--            height: 125px;-->
        }
    </style>
</head>
<body>
<script src="/scripts/functions.js"></script>
<!--<script>-->
<!--    if ( window.history.replaceState ) {-->
<!--        window.history.replaceState( null, null, window.location.href );-->
<!--    }-->
<!--</script>-->
<br><br>
<form action="" method="post">
    <button type="submit" id="newGameButton" value="newGameButton" name="button" class="button">New Game</button>
</form>
<br><br>
<h1 th:text="${results}">Default</h1>
<br><br><br><br>
<!--<form action="" method="post">-->
<!--    <button type="submit" id="button00" value="button00" name="button" class="button" onclick="testFun(this.id, this.name)"><img src="/images/empty.png"/></button>-->
<!--    <button type="submit" id="button01" value="button01" name="button" class="button" onclick="testFun(this.id)"><img src="/images/empty.png"/></button>-->
<!--    <button type="submit" id="button02" value="button02" name="button" class="button" onclick="testFun(this.id)"><img src="/images/empty.png"/></button>-->
<!--    <br>-->
<!--    <button type="submit" id="button10" value="button10" name="button" class="button"><img src="/images/empty.png"/></button>-->
<!--    <button type="submit" id="button11" value="button11" name="button" class="button"><img src="/images/empty.png"/></button>-->
<!--    <button type="submit" id="button12" value="button12" name="button" class="button"><img src="/images/empty.png"/></button>-->
<!--    <br>-->
<!--    <button type="submit" id="button20" value="button20" name="button" class="button"><img src="/images/empty.png"/></button>-->
<!--    <button type="submit" id="button21" value="button21" name="button" class="button"><img src="/images/empty.png"/></button>-->
<!--    <button type="submit" id="button22" value="button22" name="button" class="button"><img src="/images/empty.png"/></button>-->
<!--    <br>-->
<!--</form>-->
<!--<br><br><br><br>-->
<!--<form action="" method="post">-->
<!--    <button type="submit" id="button00" value="button00" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[0]}">Default</span></li></button>-->
<!--    <button type="submit" id="button01" value="button01" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[1]}">Default</span></li></button>-->
<!--    <button type="submit" id="button02" value="button02" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[2]}">Default</span></li></button>-->
<!--    <br>-->
<!--    <button type="submit" id="button10" value="button10" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[0]}">Default</span></li></button>-->
<!--    <button type="submit" id="button11" value="button11" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[1]}">Default</span></li></button>-->
<!--    <button type="submit" id="button12" value="button12" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[2]}">Default</span></li></button>-->
<!--    <br>-->
<!--    <button type="submit" id="button20" value="button20" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[0]}">Default</span></li></button>-->
<!--    <button type="submit" id="button21" value="button21" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[1]}">Default</span></li></button>-->
<!--    <button type="submit" id="button22" value="button22" name="button" class="button" onclick="testFun(this.id)"><li th:each="String: ${list}"><span th:text="${String[2]}">Default</span></li></button>-->
<!--    <br>-->
<!--</form>-->
<br><br><br><br>
<!--<p><span th:text="${list.length}"></span></p>-->
<form action="" method="post">
    <button type="submit" id="button00" value="button00" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[0][0]}">Default</li></button>
    <button type="submit" id="button01" value="button01" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[0][1]}">Default</li></button>
    <button type="submit" id="button02" value="button02" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[0][2]}">Default</li></button>
    <br>
    <button type="submit" id="button10" value="button10" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[1][0]}">Default</li></button>
    <button type="submit" id="button11" value="button11" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[1][1]}">Default</li></button>
    <button type="submit" id="button12" value="button12" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[1][2]}">Default</li></button>
    <br>
    <button type="submit" id="button20" value="button20" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[2][0]}">Default</li></button>
    <button type="submit" id="button21" value="button21" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[2][1]}">Default</li></button>
    <button type="submit" id="button22" value="button22" name="button" class="button" onclick="testFun(this.id)"><li th:text="${list[2][2]}">Default</li></button>
    <br>
</form>
<!--<br><br><br><br>-->
<!--<form action="" method="post">-->
<!--    <button type="submit" id="button00" value="button00" name="button" class="button" onclick="testFun(this.id, this.name)"><span th:text="${list[0][0]}">Default</span></button>-->
<!--    <button type="submit" id="button01" value="button01" name="button" class="button" onclick="testFun(this.id)"><span th:text="${list[0][1]}">Default</span></button>-->
<!--    <button type="submit" id="button02" value="button02" name="button" class="button" onclick="testFun(this.id)"><span th:text="${list[0][2]}">Default</span></button>-->
<!--    <br>-->
<!--    <button type="submit" id="button10" value="button10" name="button" class="button"><span th:text="${list[1][0]}">Default</span></button>-->
<!--    <button type="submit" id="button11" value="button11" name="button" class="button"><span th:text="${list[1][1]}">Default</span></button>-->
<!--    <button type="submit" id="button12" value="button12" name="button" class="button"><span th:text="${list[1][2]}">Default</span></button>-->
<!--    <br>-->
<!--    <button type="submit" id="button20" value="button20" name="button" class="button"><span th:text="${list[2][0]}">Default</span></button>-->
<!--    <button type="submit" id="button21" value="button21" name="button" class="button"><span th:text="${list[2][1]}">Default</span></button>-->
<!--    <button type="submit" id="button22" value="button22" name="button" class="button"><span th:text="${list[2][2]}">Default</span></button>-->
<!--    <br>-->
<!--</form>-->
</body>
</html>